
*
{
  box-sizing: border-box;
}
figure {
  display: none;
  margin: auto;
  width: 80%;
 
}
figure img {
  width: 100%;
  height: 100%;
}
ul.c {
  list-style-type: none;
  position: fixed;
  margin: 0 10% 0 10%;
  width: 80%;
  padding: 0 1px 0 0;
  border-radius: 3px;
  background-color: #2e456b;
  top: 0;
  z-index: 1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
li.b {
  float: left;
}
ul li a.a {
  display: block;
  padding: 15px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
}
li a.a:hover {
  transition: 0.5s;
  background-color: rgba(250,250,250,0.9);
  color: #000;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.2);
}
li a.a:active {
  transition: 0.5s;
  background-color: #fff;
  color: #f00;
}
#inicio {
  background: #f00;
}
@media screen and (max-width: 600px) {
  ul.c li.b {
    float: none;
  }
  ul.c {
    width: 100%;
    margin: auto;
  }
  .prin {
    top: 150px;

  }
}
.prin {
  position: relative;
  margin: auto;
  width: 80%;
  background-color: #0c2247;
  border-radius: 5px;
  color: #fff;
  padding: 50px 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.cap {
  font-size: 1.8em;
  position: relative;
  margin-top: 80px;
  font-variant: small-caps;
}
body {
  text-transform: capitalize;
  font-size: 100%;
  font-family: arial;
  background: #0a1e3f;
  color: #fff;
  margin-top: 50px;
}
  li.logo {
  float: right;
  font-size: 3.2vw;
  text-shadow: 0px 8px 6px rgba(0, 0, 0, 1.2);
  color: #fff;
  border-radius: 5px;
}
li.logo:hover
{
  text-shadow: 0px 8px 6px rgba(255, 255, 255, 1.2);
  color: #000;
}
.contenedor {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
}
.contenedor .ifram {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
}
footer {
  padding: 10px;
  background: #000;
  width: 100%;
  text-align: center;
}
h1 {
  display: block;
  text-align: center;
  margin: auto;
}
.Extra {
  border-radius: 5px;
  background-color: rgba(0,250,0,0.8);
}

.hina:hover
{

  text-shadow: 0px 8px 6px rgba(255, 255, 255, 1.2);
  color: #000;

}