
*
{
  box-sizing: border-box;
}
figure {
  display: none;
  margin: auto;
  width: 80%;
 
}

figure img {
  width: 100%;
  height: 100%;
}
ul.c {
  list-style-type: none;
  position: fixed;
  width: 80%;
  margin: 0 10% 0 10%;
  padding: 0 1px 0 0;
  border-radius: 3px;
  background: #0c2247;
  top: 0;
  z-index: 1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);

}
li.b {
  float: left;
}
ul li a.a {
  display: block;
  padding: 15px;
  width: 150px;

  color: #fff;
  text-align: center;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
}
li a.a:hover {
  transition: 1.5s;
  background-color: rgba(250,250,250,0.9);
  color: #000;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.2);
}
li a.a:active {
  transition: 0.5s;
  background-color: #fff;
  color: #f00;
}
#inicio {
  background: #f00;
}
@media screen and (max-width: 600px) {
  ul.c li.b {
    float: none;
  }
  ul.c {
    width: 100%;
    margin: auto;
    position: absolute;
  }
  
  #sec
  {
    width: 100%;
  }
  ul.c li.b a

  {
    width: auto;
  }
}
.prin {
  position: relative;
  margin: auto;
  width: 80%;
  background: linear-gradient(#0c2247,lightblue);
  border-radius: 5px;
  color: #fff;
  padding: 50px 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  margin-top: 5%;

}
.cap {
  font-size: 1.8em;
  position: relative;
  margin-top: 80px;
  font-variant: small-caps;
}
body {
  text-transform: capitalize;
  font-size: 100%;
  font-family: arial;
  background: linear-gradient(#0a1e3f, lightblue);
  color: #fff;

}
  li.logo {
  float: right;
  font-size: 2.8vw;
  font-family: serif;
  color: #fff;
  border-radius: 5px;
  padding: 5px 15px 0 0;

}

.contenedor {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
}
.contenedor .ifram {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
}
header{
  z-index: 2;

}
footer {
  padding: 10px;
  background: lightblue;
  width: 100%;
  text-align: center;
}
h1.hina {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin-left: 35%;
  margin-left: 35%;

  margin-bottom: 5%;
}
.Extra {
  border-radius: 5px;
  background-color: rgba(0,250,0,0.4);
}

 .logo:hover , .hina:hover 
{
  transition: 1s;
  text-shadow: 0px 6px 4px rgba(255, 255, 255, 0.6);
  color: #000;

}

@keyframes rodar {
  0% {transform: rotate3d(0, 0, 0, 0deg);}
  50% {transform: rotate3d(180, 0, 180, 180deg);}
  100% {transform: rotate3d(10, 0, 0, 360deg);}
}
@keyframes multicolor {
  
  0% {background:linear-gradient(to top,white ,orange ,white ,orange)}
  30% {background:linear-gradient(yellow ,green ,white ,orange)}
  60% {background:linear-gradient(red ,lightpink ,white ,orange)}
  90% {background:linear-gradient(lightsalmon ,orange ,white ,orange)}
  100% {background:linear-gradient(lime , black ,white ,orange)}
}

.logo
{
  animation: rodar 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

body
{
  animation: multicolor 10s ease alternate infinite ;
  transition: 2s;
}
