gris = #8F8F8F
grisli = #2e456b
azuloscuro = #0a1e3f
azul = #053b93


ul.c
  list-style-type: none
  margin: 0
  padding: 0
  border-radius: 3px
  background-color: grisli
  top: 0
  width: 100%
  z-index: 1
  position fixed

li.b
  float: left

li a.a
  display: block
  padding: 15px
  color: white
  text-align: center
  border-radius: 5px
  box-sizing: border-box
  text-decoration: none

li a.a:hover
  transition: 1s
  background-color: white
  color: black

.prin
  position: relative
  margin-top: 50px
  margin-left: 10%
  margin-right: 10%
  width: 80%
 
  background-color: #0c2247
  border-radius: 5px
  border: 1px inset black
  color white

  top:0

.ifram
  display: block
  margin-left: auto
  margin-right: auto
  
  max-height: 480px
  heigh 50%
  width: 100%
  border-style: inset
  border-radius: 5px
  
  
 
  overflow: hidden 

.cap
  font-size 0.9em
  
  

body 
  text-transform: capitalize
  font-size 16px
  font-family arial
  background azuloscuro
  color white
  margin-top 50px
  
  .logo
    
    float right
    
    font-size 2.5em
    
    display block-inline
    background green
    
    
    color white
    border 1.5px solid black
    border-radius 10px

    
