gris = #8F8F8F
grisli = #2e456b
azuloscuro = #0a1e3f
azul = #053b93


ul.c
  list-style-type: none
  position fixed
  margin 0 10% 0 10%
  width 80% 
  padding: 0 1px 0 0
  border-radius: 3px
  background-color: grisli
  top 0
  z-index: 1
  

li.b
  float: left

li a.a
  display: block
  padding: 15px
  color: white
  text-align: center
  border-radius: 5px
  box-sizing: border-box
  text-decoration: none

  
li a.a:hover
  transition: 0.5s
  background-color: white
  color: black
  
li a.a:active
  transition 0.5s
  background-color: white
  color: red
  
#inicio
  background red
  

.prin
  position: relative
  margin auto
  width: 80%
  background-color: #0c2247
  border-radius: 5px
  border: 1px inset black
  color white

 





.cap
  font-size 1.8em
  position relative
  margin-top 80px
  font-variant small-caps
  
  

body 
  text-transform: capitalize
  font-size 100%
  font-family arial
  background azuloscuro
  color white
  margin-top 50px
  
  .logo
    
    float right
    
    font-size 3.2vw
    
    display block-inline
    background green
    
    
    color white
    border 1.5px solid black
    border-radius 5px

    
.contenedor
  position relative
  
  padding-bottom 56.25%
  padding-top 30px
  height 0
  

  
  .ifram
    position absolute
    height 100%
    width 100%
    margin auto


    
footer
  background black
  position relative
  display block
  widht 100%
  margin 5px 0 0 0
  top 25px
  padding 25px

h1 
  
    text-align center

  